body{
    color: rgb(195, 0, 255);
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

h3{
    padding: 0;
    margin: 0.5;
    font-size: 1em;
}

input {
    width: 10vw;
    margin: 0em;
    padding: 0.5em;
    background-color: rgb(227, 249, 104);
    border: 0.25em solid rgb(195, 0, 255);
    border-radius: 0.7em;
    font-size: 1em;
}

#show-btn{
    margin: 1em;
    padding: 0.5em 1.5em;
    font-size: 1em;
    background-color: rgb(195, 0, 255);
    border-radius: 0.7em;
    border-style: none;
    cursor: pointer;
    color: whitesmoke;

}

#notice{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    border: 2px dashed darkblue;
    width: 25em;
    background-color:whitesmoke
}

#x-btn{
    background-color: rgb(244, 30, 30);
    color: whitesmoke;
    cursor: pointer;
}

#message{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: rgb(0,0,0);
    padding: 0.5em;
    display: none;
    
}